body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
}

.heading-primary--main {
  display: block;
  font-size: 45rem;
  font-weight: 600;
  background-image: url(../imgs/waves.jpg);
  background-size: cover;
  background-position: top;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  line-height: 0.8;
}
.heading-primary--sub {
  display: block;
  color: #012a4a;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 1.5rem;
  font-weight: 400;
  line-height: 1;
  position: absolute;
  top: 42%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

.heading-secondary {
  font-family: "Libre Baskerville", serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #013a63;
}

.heading-tertiary {
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  font-weight: 600;
  color: #013a63;
}

.paragraph {
  font-size: 1.5rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-left {
  margin-left: 2.5rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-small {
  margin-top: 4rem !important;
}

.u-margin-top-bigger {
  margin-top: 10rem !important;
}

.u-bg-plum {
  background-color: plum !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.header {
  height: 100vh;
  background-color: #a9d6e5;
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 5.5rem;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(6rem + 2 * ((100% - 2 * 6rem) / 3));
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(6rem + 2 * ((100% - 3 * 6rem) / 4));
}
.row .col-3-of-4 {
  width: calc(2 * 6rem + 3 * ((100% - 3 * 6rem) / 4));
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.5rem;
  transition: all 0.2s;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
.btn--blue {
  background-color: transparent;
  color: #023646;
  border: 1px solid #023646;
}
.btn--blue:hover, .btn--blue:active {
  background-color: #023646;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn--red {
  background-color: transparent;
  color: #023646;
  border: 1px solid #e10c53;
}
.btn--red:hover, .btn--red:active {
  background-color: #e10c53;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.popup__content {
  padding: 2rem 3rem;
  width: 40%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-in-out;
}
.popup__close:link, .popup__close:visited {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
  color: #000;
  text-decoration: none;
  display: inline-block;
  transition: all 0.15s;
  line-height: 0.5;
}
.popup__close:hover {
  color: #e10c53;
}
.popup__icon {
  position: fixed;
  bottom: 3.5rem;
  right: 3.5rem;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
}
.popup__link:link, .popup__link:visited {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  text-decoration: none;
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 100%;
  color: #e10c53;
}
.popup__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: translate(-50%, -50%) scale(1);
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  width: 80%;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.2rem 2rem;
  border: none;
  border-bottom: 1px solid #e10c53;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.15);
}
.form__label {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transform: translate(-1.5rem, -8rem);
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -4rem);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-about {
  padding: 10rem 0;
}