.section-about {
    padding: 10rem 0;
}

.section-selling-point {
    padding: 7rem 0 10rem 0;
    // background-image: linear-gradient(0deg,
    //         rgba($color-white, 1) 0%,
    //         rgba($color-white, 1) 40%,
    //         rgba($color-blue-2, 1) 60%);
    background-image: linear-gradient(to bottom, $color-blue-2, $color-white);
}

.section-story {
    padding: 10rem 0;
    background-image: linear-gradient(to bottom, rgba($color-blue-1, .8), rgba($color-blue-2, .8)),
        url(../imgs/waves-2.jpg);
    background-size: cover;
    background-position: top;
}