.section-about {
    padding: 10rem 0;
}

.section-selling-point {
    padding: 7rem 0 10rem 0;
    background-image: linear-gradient($color-blue-2 0%, $color-blue-2 45%, $color-white 45%);
}

.section-story {
    padding: 10rem 0;
    background-image: linear-gradient(to bottom, rgba($color-blue-2, .5), rgba($color-blue, .5)), url(../imgs/shore.jpg);
    background-size: cover;
}