.section-about {
    padding: 10rem 0;
}

.section-selling-point {
    padding: 7rem 0 10rem 0;
    background-image: linear-gradient($color-blue-2 0%, $color-blue-2 45%, $color-white 45%);
}

.section-story {
    padding: 10rem 0;
    background-color: $color-blue-2;
}

.section-products {
    padding: 10rem 0;
    background-color: $color-blue-dark-2;
}