.header {
    height: 100vh;
    background-image: linear-gradient(to right,
            rgba($color-blue-1, 0.65),
            rgba($color-blue-2, 0.65)),
        url(../imgs/fishing-boat.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 8.5rem;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}