.story-box {
    position: relative;
    height: 30rem;
    perspective: 150rem;

    &--1,
    &--3 {
        @include respond(tab-port) {
            margin-bottom: 2rem;
        }
    }

    &:last-child {
        @include respond(tab-port) {
            margin-bottom: 7rem;
        }
    }

    &:hover &__content {
        transform: rotateY(180deg);
    }

    &__checkbox {
        display: none;
    }

    &__button {
        text-transform: uppercase;
        padding: .5rem 2rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: $default-font-size;
        letter-spacing: .3rem;
        background-color: $color-white;
        color: $color-black;
        position: absolute;
        top: 112%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        box-shadow: 0 1.5rem 3rem rgba($color-black, .25);
        cursor: pointer;
        visibility: hidden;

        @include respond(tab-port) {
            visibility: visible;
        }
    }

    &__checkbox:checked~&__content {
        transform: rotateY(180deg);
    }

    &__content {
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: all .4s ease-in-out;
        box-shadow: 0 1.5rem 3rem rgba($color-black, .15);
    }

    &__side {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // overflow: hidden;
        backface-visibility: hidden;

        &--front {
            background-size: cover;
            background-blend-mode: screen;

            @include respond(phone-small) {
                background-position: center;
            }

            &--1 {
                background-image: url(../imgs/man-1.jpg);
            }

            &--2 {
                background-image: url(../imgs/woman-1.jpg);
            }

            &--3 {
                background-image: url(../imgs/woman-2.jpg);
                background-position: bottom;
            }

            &--4 {
                background-image: url(../imgs/man-2.jpg);
            }
        }

        &--back {
            transform: rotateY(180deg);
            overflow: hidden;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-size: cover;
                filter: blur(5px);
            }

            &--1 {
                &::before {
                    background-image: url(../imgs/man-1.jpg);
                }
            }

            &--2 {
                &::before {
                    background-image: url(../imgs/woman-1.jpg);
                }
            }

            &--3 {
                &::before {
                    background-image: url(../imgs/woman-2.jpg);
                    background-position: bottom;
                }
            }

            &--4 {
                &::before {
                    background-image: url(../imgs/man-2.jpg);
                }
            }
        }
    }

    &__title {
        position: absolute;
        top: 75%;
        left: 30%;
        transform: translate(-50%, -50%);

        @include respond(phone-small) {
            width: 100%;
            text-align: center;
            top: 50%;
            left: 50%;
        }
    }

    &__text {
        position: absolute;
        top: 2rem;
        left: 2rem;
        right: 2rem;
    }

    &__paragraph {
        font-size: 2rem;
        font-weight: 200;
        text-align: center;
        color: $color-white;

        @include respond(phone) {
            font-size: 1.8rem;
        }

        @include respond(phone-small) {
            font-size: 1.5rem;
        }
    }

    &__heading {
        color: $color-white;

        &--main {
            font-size: 4rem;
            font-weight: 100;
        }

        &--sub {
            font-size: 1.5rem;
            font-weight: 300;
            letter-spacing: .5rem;

            @include respond(phone-small) {
                font-size: 2rem;
            }
        }
    }
}